<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bare - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/pokeball.png" />
        <div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>        
 
        <link rel="stylesheet" href="/static/css/type_style.css">

    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>Team Members</h1>
                <!-- <p class="lead">A complete project boilerplate built with Bootstrap</p>
                <p>Bootstrap v5.0.2</p> -->
            <div class="card-deck">
                <div class="card border-primary text-center mb-3 bg-primary" style="max-width: 15rem;">
                    <div class="card-header bg-primary text-white">Juli Chalk</div>
                    <div class="tenor-gif-embed" data-postid="15583157" data-share-method="host" data-width="100%" data-aspect-ratio="1.129251700680272"><a href="https://tenor.com/view/waving-pikachu-gif-cute-hi-gif-15583157">Waving Pikachu GIF</a> from <a href="https://tenor.com/search/waving-gifs">Waving GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
                    <div class="card-body">
                    <a class="nav-link text-center text-white" href="https://www.linkedin.com/in/juli-chalk" target="_blank">Juli's LinkedIn</a>
                    <a class="nav-link text-center text-white" href="https://github.com/julichalk" target="_blank">Juli's GitHub</a>
                    </div>
                </div>
                <div class="card border-primary text-center text-white mb-3 bg-primary" style="max-width: 15rem;">
                    <div class="card-header">Spencer Fox</div>
                    <img class="card-img-top" src="https://64.media.tumblr.com/f9d79689a63ce7bfd1be6a015f7fb56f/tumblr_nuhifjCt1c1sphazho5_500.gifv">
                    <div class="card-body">
                    <a class="nav-link text-center text-white" href="https://www.linkedin.com/in/spencer-fox-0506/" target="_blank">Spencer's LinkedIn</a>
                    <a class="nav-link text-center text-white" href="https://github.com/spencerfox06" target="_blank">Spencer's GitHub</a>
                    </div>
                </div>
                <div class="card border-primary text-center mb-3 bg-primary" style="max-width: 15rem;">
                    <div class="card-header text-white">Derek Toro</div>
                    <div class="tenor-gif-embed" data-postid="5742026" data-share-method="host" data-width="100%" data-aspect-ratio="1.0212765957446808"><a href="https://tenor.com/view/tauros-pokemon-gif-5742026">Tauros Pokemon GIF</a> from <a href="https://tenor.com/search/tauros-gifs">Tauros GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
                    <div class="card-body">
                    <a class="nav-link text-center text-white" href="https://www.linkedin.com/in/derek-toro-880b13107" target="_blank">Derek's LinkedIn</a>
                    <a class="nav-link text-center text-white" href="https://github.com/1der4k" target="_blank">Derek's GitHub</a>
                    </div>
                </div> 
                <div class="card border-primary text-center mb-3 bg-primary" style="max-width: 15rem;">
                    <div class="card-header text-white">Kelsey Vermeer</div>
                    <div style="padding-top:100.000%;position:relative;"><iframe src="https://gifer.com/embed/3qfg" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div><p><a href="https://gifer.com">via GIFER</a></p>
                    <div class="card-body">
                    <a class="nav-link text-center text-white" href="https://www.linkedin.com/in/kelsey-vermeer-a61670101" target="_blank">Kelsey's LinkedIn</a>
                    <a class="nav-link text-center text-white" href="https://github.com/kelseyv4" target="_blank">Kelsey's GitHub</a>
                    </div>
                </div> 
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/about.js"></script>
    </body>
</html>
