<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Pokemon Comparison</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="css/styles.css" rel="stylesheet" /> -->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-2.2.0.min.js"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>        
        <link rel="stylesheet" href="/static/css/styles.css">
        <!-- Favicon-->
        <!-- <link rel="icon" type="image/x-icon" href="/assets/pokeball.png" />
        <div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
 
         -->
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">
          <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="#">Pokemon Dream Team</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle fw-bold text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Menu
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="https://pokedreamteam.herokuapp.com/generation">Generation</a></li>
                    <li><a class="dropdown-item" href="https://pokedreamteam.herokuapp.com/type">Type</a></li>
                    <li><a class="dropdown-item" href="https://pokedreamteam.herokuapp.com/team">Team</a></li>
                    <li><a class="dropdown-item" href="https://pokedreamteam.herokuapp.com/about">About</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="https://pokedreamteam.herokuapp.com">Home</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>Scatter Polar</h1>
                <p class="lead">Create a Pokemon dream team with this scatter polar chart!</p>
                <p>Select your Pokemon</p>
            </div>
        </div>
        
        <form id="myForm">
            <select id="selectNumber">
              <option>Choose Pokemon 1</option>
            </select>
          </form>
          <form id="aForm">
            <select id="selectPoke">
              <option>Choose Pokemon 2</option>
            </select>
          </form>
          <form id="Form3">
            <select id="selectPoke3">
              <option>Choose Pokemon 3</option>
            </select>
          </form>
          <form id="Form4">
            <select id="selectPoke4">
              <option>Choose Pokemon 4</option>
            </select>
          </form>
          <form id="Form5">
            <select id="selectPoke5">
              <option>Choose Pokemon 5</option>
            </select>
          </form>
          <form id="Form6">
            <select id="selectPoke6">
              <option>Choose Pokemon 6</option>
            </select>
          </form>
        
          </div>
              <div class="ScatterPolar" data-num="0">
                <div class="plot" id="plotdiv"></div>
                
              </div>
            </div>
          </div>
        <!-- Bootstrap core JS-->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> -->
        <!-- Core theme JS-->
    

       
        <script src="/static/js/team.js"></script>
    </body>
</html>
